.qrcode-text-btn {
    display: inline-block;
    height: auto;
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
}

.qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.qrcode-text {
  padding-right: 1.7em;
  margin-right: 0;
  vertical-align: middle;
}

.qrcode-text + .qrcode-text-btn {
  width: 1.7em;
  background-color:red;
}

.slider-selection {
	background: #BABABA;
}

.volume-slider {
    text-align: right;
    margin-right: 20px;
}

.quarter-width-button {
    width: 24.25%;
}

.width-75 {
    width: 74.75%
}

.width-25 {
    width: 24.2%;
}

.hidden {
    display: none;
}